workflows/webhook-google-workspace-chatwork-control.json
{
  "name": "google-workspace-chatwork-control",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "google-workspace-chatwork-control",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "webhookId": "google-workspace-chatwork-control"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-1",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "gmail_send",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "gmail_send"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-2",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "sheets_read",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sheets_read"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-3",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "chatwork_send_message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatwork_send_message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-4",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "chatwork_create_task",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatwork_create_task"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.body.to }}",
        "subject": "={{ $json.body.subject }}",
        "message": "={{ $json.body.message }}",
        "options": {
          "replyTo": "={{ $json.body.replyTo }}"
        }
      },
      "id": "gmail-send",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [650, 200],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail OAuth2 account for admin@cryptotradeacademy.io",
          "type": "gmailOAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2",
        "documentId": "={{ $json.body.spreadsheetId }}",
        "sheetName": "={{ $json.body.sheetName }}",
        "range": "={{ $json.body.range }}",
        "options": {}
      },
      "id": "sheets-read",
      "name": "Google Sheets Read",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2": {
          "name": "Google Sheets OAuth2 account for admin@cryptotradeacademy.io",
          "type": "googleSheetsOAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.chatwork.com/v2/rooms/{{ $json.body.roomId }}/messages",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "={{ $env.CHATWORK_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "formUrlEncoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $json.body.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "chatwork-send-message",
      "name": "Chatwork Send Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400],
      "webhookId": ""
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.chatwork.com/v2/rooms/{{ $json.body.roomId }}/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "sendQuery": false,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "=e973fd7311ae06d1deb377bd1ecb7d8e"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "formUrlEncoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $json.body.taskBody }}"
            },
            {
              "name": "to_ids",
              "value": "={{ $json.body.toIds }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.body.limit }}"
            }
          ]
        },
        "options": {}
      },
      "id": "chatwork-create-task",
      "name": "Chatwork Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"data\": $json } }}",
        "options": {}
      },
      "id": "format-success-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.error || $json.message || \"Unknown error\" } }}",
        "options": {},
        "responseCode": 500
      },
      "id": "format-error-response",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Switch Action", "type": "main", "index": 0 }]]
    },
    "Switch Action": {
      "main": [
        [{ "node": "Gmail Send", "type": "main", "index": 0 }],
        [{ "node": "Google Sheets Read", "type": "main", "index": 0 }],
        [{ "node": "Chatwork Send Message", "type": "main", "index": 0 }],
        [{ "node": "Chatwork Create Task", "type": "main", "index": 0 }]
      ]
    },
    "Gmail Send": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Google Sheets Read": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Chatwork Send Message": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Chatwork Create Task": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
