workflows/whop-control-with-api-key.json
{
  "name": "whop-control",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whop-control",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        250,
        300
      ],
      "webhookId": "whop-control"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-1",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "get_members",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_members"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-2",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "get_member",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_member"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-3",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "cancel_membership",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancel_membership"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-4",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "reactivate_membership",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reactivate_membership"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action-1",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.whop.com/api/v2/memberships",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "={{ $json.body.page || 1 }}"
            },
            {
              "name": "per_page",
              "value": "={{ $json.body.per_page || 50 }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "headers": {
            "Authorization": "Bearer apik_KbyD0T3ENibNW_C3791174_58437b1dc69efe1fa96a635be9c1b8edc77bbc3cfe4bc04bbb7148b140e9ca58"
          }
        }
      },
      "id": "http-get-members-1",
      "name": "Get Members",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "url": "=https://api.whop.com/api/v2/memberships/{{ $json.body.membership_id }}",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "headers": {
            "Authorization": "Bearer apik_KbyD0T3ENibNW_C3791174_58437b1dc69efe1fa96a635be9c1b8edc77bbc3cfe4bc04bbb7148b140e9ca58"
          }
        }
      },
      "id": "http-get-member-1",
      "name": "Get Member Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.whop.com/api/v2/memberships/{{ $json.body.membership_id }}/cancel",
        "method": "POST",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "headers": {
            "Authorization": "Bearer apik_KbyD0T3ENibNW_C3791174_58437b1dc69efe1fa96a635be9c1b8edc77bbc3cfe4bc04bbb7148b140e9ca58"
          }
        }
      },
      "id": "http-cancel-membership-1",
      "name": "Cancel Membership",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://api.whop.com/api/v2/memberships/{{ $json.body.membership_id }}/reactivate",
        "method": "POST",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "headers": {
            "Authorization": "Bearer apik_KbyD0T3ENibNW_C3791174_58437b1dc69efe1fa96a635be9c1b8edc77bbc3cfe4bc04bbb7148b140e9ca58"
          }
        }
      },
      "id": "http-reactivate-membership-1",
      "name": "Reactivate Membership",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assignment-1",
              "name": "success",
              "value": "=true",
              "type": "boolean"
            },
            {
              "id": "assignment-2",
              "name": "action",
              "value": "={{ $('Webhook Trigger').item.json.body.action }}",
              "type": "string"
            },
            {
              "id": "assignment-3",
              "name": "data",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "assignment-4",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "dateTime"
            }
          ]
        },
        "options": {}
      },
      "id": "set-success-response-1",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assignment-1",
              "name": "success",
              "value": "=false",
              "type": "boolean"
            },
            {
              "id": "assignment-2",
              "name": "error",
              "value": "={{ $json.message || 'Unknown error' }}",
              "type": "string"
            },
            {
              "id": "assignment-3",
              "name": "action",
              "value": "={{ $('Webhook Trigger').item.json.body.action }}",
              "type": "string"
            },
            {
              "id": "assignment-4",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "dateTime"
            }
          ]
        },
        "options": {}
      },
      "id": "set-error-response-1",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        850,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Get Members",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Member Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancel Membership",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reactivate Membership",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Members": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Member Details": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Membership": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reactivate Membership": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-24T00:00:00.000Z",
  "versionId": "1"
}